# Ignora tutte le cartelle node_modules
backend/node_modules/
frontend/node_modules/
mobile/node_modules/

# Ignora le cartelle di build di React
frontend/build/

# Ignora file di ambiente (se li usi)
backend/.env
frontend/.env
mobile/.env

# Ignora file di log
*.log

# Ignora file temporanei
.DS_Store
Thumbs.db

# Ignora qualsiasi altra cartella o file specifico che non vuoi caricare